.mdi-temperature4:before{
    content:"\F504"
}
.mdi-temperature3:before{
    content:"\F504"
}
.mdi-temperature:before{
    content:"\F504"
}
.mdi-temperature2:before{
    content:"\F504"
}
.mdi-water2:before{
    content:"\F58E"
}

.mdi-ph:before{
    content:"\F093"
}

.mdi-npk:before{
    content:"\F24A"
}

.mdi-ec:before{
    content:"\F1AB"
}

.mdi-light:before{
    content:"\F599"
}

.mdi-lux:before{
    content:"\F599"
}
.mdi-humidity:before{
    content:"\F58E"
}
.mdi-humidity2:before{
    content:"\F58E"
}
.mdi-humidity3:before{
    content:"\F58E"
}
.mdi-humidity4:before{
    content:"\F58E"
}