<div class="navbar-collapse collapse" id="navbarSupportedContent">
  <!-- ============================================================== -->
  <!-- toggle and nav items -->
  <!-- ============================================================== -->
  <ul class="navbar-nav me-auto">
    <!-- This is  -->
    <li class="nav-item">
      <a class="
                    nav-link
                    sidebartoggler
                    d-none d-md-block
                    waves-effect waves-dark
                  " href="javascript:void(0)"><i class="ti-menu"></i></a>
    </li>
    <!-- ============================================================== -->
    <!-- Search -->
    <!-- ============================================================== -->

  </ul>
  <!-- ============================================================== -->
  <!-- Right side toggle and nav items -->
  <!-- ============================================================== -->
  <ul class="navbar-nav">
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img src="/NG999/static/assets/images/users/1.jpg" alt="user" width="30" class="profile-pic rounded-circle" />
      </a>
      <div class="
                    dropdown-menu dropdown-menu-end
                    user-dd
                    animated
                    flipInY
                  ">
        <div class="
                      d-flex
                      no-block
                      align-items-center
                      p-3
                      bg-info
                      text-white
                      mb-2
                    ">
          <div class="ms-2">
            <h4 class="mb-0 text-white">{{session.name}}</h4>
            <p class="mb-0">{{session.username}}</p>

            {% if session.role_id == '1'%}
            <p class="mb-0">Role: Admin</p>
            {% else %}
            <p class="mb-0">Role: Wholesaler</p>
            {% endif %}

          </div>
        </div>
        <!--
                  <a class="dropdown-item" href="#"
                    ><i
                      data-feather="credit-card"
                      class="feather-sm text-info me-1 ms-1"
                    ></i>
                    My Balance</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i
                      data-feather="mail"
                      class="feather-sm text-success me-1 ms-1"
                    ></i>
                    Inbox</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"
                    ><i
                      data-feather="settings"
                      class="feather-sm text-warning me-1 ms-1"
                    ></i>
                    Account Setting</a
                  >
-->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/NG999/logout"><i data-feather="log-out" class="feather-sm text-danger me-1 ms-1"></i>
          Logout</a>
        
      </div>
    </li>
  </ul>
</div>